<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cadastrar Produto</title>
</head>
<body>
    <form action="{{url_for('cadastro_produtos')}}" method="post">
        <label for="">Nome do Produto:</label>
        <input type="text" name="nome">
        <label for="">Preço do Produto:</label>
        <input type="number" name="preco" step="0.01">
        <label for="">Estoque Inicial:</label>
        <input type="number" name="estoque">
        <button>Cadastrar Produto</button>
    </form>
    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>

