<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Atenção! Produtos para repor:</h2>
    <ul>
        {% for produto in produtos_para_repor %}
            <li>{{ produto.nome }}
                <form action="{{ url_for('repor_produto', id=produto.id) }}" method="POST">
                    <input type="number" placeholder="quantidade" name="qntd">
                    <button type="submit">Repor</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>