<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{url_for('login')}}" method="post" class="formularios">
        Email: <input type="text" name="email">
        Senha: <input type="password" name="senha">
        <button>Login</button>
    </form>
</body>
</html>
