<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>PRODUTOS</h1>
    <ul>
        {% for produto in produtos %}
            <li>{{ produto.nome }} - R$ {{ produto.preco }}</li>
            <form action="{{ url_for('adicionar_ao_carrinho', produto_id=produto.id) }}" method="post">
                <button type="submit">Adicionar ao carrinho</button>
            </form>
        {% endfor %}
    </ul>
    <a href="{{ url_for('carrinho') }}">Ver Carrinho</a>
    <a href="{{url_for('logout')}}">Logout</a>
</body>
</html>