<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Produtos</title>
</head>
<body>
    <h1>PRODUTOS</h1>
    <ul class="produtos">
        {% for produto in produtos %}
            <li class="produto">{{ produto.nome }} - R$ {{ produto.preco }} 
                {% if produto.estoque <= 0 %}
                    <span style="color: red;">(Indisponível)</span>
                {% else %}
                    <form action="{{ url_for('adicionar_ao_carrinho', produto_id=produto.id) }}" method="post">
                        <button type="submit">Adicionar ao carrinho</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    <a href="{{ url_for('carrinho') }}">Ver Carrinho</a>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>